@font-face {
    font-family: "Inter";
    src: url(assets/fonts/Inter/static/Inter-Medium.ttf);
}
@font-face {
    font-family: "Inter-Bold";
    src: url(assets/fonts/Inter/static/Inter-Bold.ttf);
}

body {
    font-family: 'Inter';
}